.container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 200px;
}
.semaforo {
  display: block;
  width: 80px;
  heigth: 120px;
  background: #333333;
  border-radius: 5px;
}
.red {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(117, 34, 34);
  margin-top: 10px;
  cursor: pointer;
}
.clickedRed {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  margin-top: 10px;
  cursor: pointer;
}

.yellow {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background: rgb(136, 136, 4);
  cursor: pointer;
}
.clickedYellow {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background: yellow;
  cursor: pointer;
}
.green {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background: rgb(6, 83, 6);
  cursor: pointer;
}
.clickedGreen {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  background: rgb(6, 197, 6);
  cursor: pointer;
}
